.hero{
    width: 100%;
    height: 100vh;
    background: url('./image/hero3.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.featured{
    background-color: #d1e1ff;
}

.card-body > h5 > a {
    text-decoration: none;
}

ul > li > a {
    text-decoration: none;
}